logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.cache
/.cache-main
/.target
/bin
/samples/playr-swagger-tutorial/.cache
/samples/playr-swagger-tutorial/bin/
/samples/playr-swagger-tutorial/.classpath
/samples/playr-swagger-tutorial/.project
/samples/playr-swagger-tutorial/.settings
